.hidden {
  display: none !important;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-third {
  width: 100%;
  padding: 0 0.75rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-third {
    width: 33.333%;
  }

  .space-around-comp {
    display: flex;
    justify-content: space-around;
  }

  .display-column {
    display: flex;
    flex-direction: column;
  }

  .padding {
    padding: 0 25%;
  }
}

.end {
  display: flex;
  justify-content: flex-end;
}

.margin-r05 {
  margin-right: 0.5rem;
}

.margin-t0 {
  margin: 0.5rem;
}

.hh-font16 {
  font-size: 16px;
}

.hh-font32 {
  font-size: 32px;
}

.hh-font30 {
  font-size: 30px;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.j-center {
  display: flex;
  justify-content: center;
}

.a-start {
  display: flex;
  align-items: flex-start;
}

.flex {
  display: flex;
}

/* font-family: 'Judson',
serif;
font-family: 'Just Me Again Down Here',
cursive; */
