#chef-photo {
  width: 66px;
  height: 59px;
  margin-right: 1.7rem;
  margin-left: 0.2rem;
}

#header-favorite-btn {
  text-decoration: underline 1px;
}

header {
  font-family: "Just Me Again Down Here", cursive;
  background-color: #9ad4d6;
  padding: 1%;
  display: flex;
  flex-direction: column;
  height: 14%;
  border-bottom: #012a36;
}

#header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cooking-c {
  margin-top: 0;
  margin-bottom: 5px;
}

.cooking-speaks {
  font-family: Judson, serif;
  width: 150px;
  margin-top: 0;
}

#breakfast-row,
#dinner-row,
#lunch-row,
#breakfast-ingredients,
#breakfast-instructions,
#lunch-instructions,
#lunch-ingredients {
  background-color: #6c6ea0;
  border-radius: 5px;
  margin-top: 5%;
  color: white;
}

#breakfast-row,
#lunch-row,
#dinner-row {
  margin-right: 20px;
}

#preview-b,
#preview-l,
#preview-d {
  margin-top: 5px;
  height: 20px;
  font-size: 1.5rem;
}

#favorite-header {
  height: 40px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-top: 5%;
}

#breakfast-ingredients,
#breakfast-instructions,
#lunch-instructions,
#lunch-ingredients,
#dinner-instructions,
#dinner-ingredients {
  display: flex;
  justify-content: center;
  background-color: #6c6ea0;
  border-radius: 5px;
  margin-top: 5%;
  color: white;
}

.heart {
  padding-top: 13px;
  height: 17px;
  width: 19px;
  padding-left: 10px;
}

#breakfast-info,
#lunch-info,
#dinner-info,
li {
  font-family: Judson, serif;
  padding: 0 1rem;
}

#breakfast-text,
#lunch-text,
#dinner-text {
  font-size: 1.3rem;
}

#favorite-dropdown {
  background-color: #6c6ea0;
  border-radius: 5px;
  margin-top: 5%;
  color: white;
  height: 72.59px;
}

#dropdown-meal {
  background-color: #6c6ea0;
  border: 0;
  font-size: 1.3rem;
  appearance: none;
  color: white;
  text-decoration: underline 1px;
  display: block;
  margin: 0;
  display: flex;
  justify-content: center;
}

#favorite-table-container {
  padding-top: 1.5rem;
}

table {
  width: 100%;
}

tr:nth-child(odd) {
  background-color: #9ad4d6;
}

#mealInfo-button{

}
